.lineal{
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    color: white;
    cursor: pointer;
    
  
}
.espacio{
    display: flex;
    justify-content: space-around;
    /* padding-left: 20px; */
    padding-right: 50px;
    font-size: x-large;
}
.nav{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    border: 1px solid black;
    /* background-image: url("https://i.pinimg.com/originals/27/b0/97/27b09780a912bbe1f345f7208a0d17fd.jpg") */
}
.ul{
    border-radius: 15px;
    color: rgb(30, 8, 136);
    font-weight: bold;
    background-color: black;
}