.container {
    background: #01206F;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchStyle {
    display: flex;
    flex-direction: column;
}
.secondSection {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
}